.footer__contacts {
 float: left;
  line-height: 3px;
  font-size: 20px;
  height: 400px;
  width: 30%;
  margin: 0 auto;
  border-radius: 0px 25px;
  background: linear-gradient(#0b84e6, #162a33);
  border: 4px solid #0b84e6;
  box-shadow: 3px 3px 30px snow;


a {
    color:white;
  margin-top: 25px;
  font-size: 20px;
  
}
}